
*, ::after, ::before {
    box-sizing: border-box;
}

body {
  
    line-height: 1.625em;
    position: relative;
    height: 100vh;
    padding-right: 0px !important;
  }

  html {
    scroll-behavior: smooth;
  }

  /* =====common css goes here===== */

  a.try-now-btn {
    color: white !important;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-family: Raleway;
    margin-right: 0px;
    background: #691cff;
    padding: 11px 50px;
    min-width: 160px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
}


/* ===chat video call realted changes goes here */

.chat-wrapper.chat-shadow.border-top {
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 20px;
    width: 290px;
    height: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
  


/* navbar/header/banner/banner-logo sections  area changes goes here */

button.conatct-btn.btn.btn-primary.log-out-btn {
    padding-left: .8em;
    padding-right: .8em;
    font-size: 18px;
}

.Signin-signup-link{
    color: rgba(0,0,0,.5);
    text-decoration:none !important;

}
.header-signin-signup-link:hover{
    color: white !important;
    background-color: blueviolet;
    font-weight: 600;
    border-color: blueviolet;
}

.intro-img-area{
    position: relative;
}

img.code-girl-img1 {
    width: 20%;
    position: absolute;
    right: 9em;
    top: 2em;
}

.navbar-brand {
    opacity: 0.7;
    font-size: 25px;
    line-height: 1;
    font-family: "Montserrat Alternates";
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 9px;
    color: #212734 !important;
}

.nav-link {
    border-radius: 5px;
    border: solid 2px #0062cc;
    font-family: Noto Sans JP;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    letter-spacing: 2px;
    color: #000000;
}

/* a.nav-link :hover{
    color: white !important;
    border-color: black;
    background-color: black;
} */
  
.bg-light {
    background-color: transparent;
}

section.banner-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: #ebf3fd;
}
h1.banner-h1 {
    font-family: Noto Sans JP;
    margin-bottom: 3%;
    font-size: 45px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212734;
}

p.banner-p {
    opacity: 0.7;
    font-family: Noto Sans JP;
    font-size: 1.4em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #212734;
    /* height: 3.4em; */
    margin-bottom: 5%;
}
button.cta-btn2.btn.btn-primary {
    text-align: center;
    border-radius: 5px;
    font-family: Raleway;
    margin-right: 0px;
    background:rgb(89, 91, 208);
    padding: 11px 30px;
    font-weight: 400;
    min-width: 12em;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
}

.single-logo {
    text-align: center;
}

.banner-section-logo-area {
    /* margin-top: 1em; */
    margin-bottom: 1em;
}

/* introfeature area changes goes here */

img.code-girl-img {
    width: 30%;
}


h3.intro-h3 {
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #212734;
    position: relative;
    font-size: 40px;
    font-family: Raleway;
}

p.para-intro {
    opacity: 0.9;
    font-size: 22px;
    line-height: 30px;
    font-family: Noto Sans JP;
    margin-bottom: 30px;
    text-align: center;
}

section.sample-intro-area {
    padding-bottom: 4em;
    padding-top: 1em;
    border-bottom: 1px solid rgba(61,81,84, 0.3);
}

img.feature-img {
    max-width: 65%;
}

.feature-body-img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.feature-body {
    max-width: 600px;
    margin: auto;
    padding-bottom: 15px;
}

p.feature-para {
    font-size: 18px;
    line-height: 30px;
    font-family: Noto Sans JP;
}

section.feature-section {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.feature-span-h{
    border-bottom: 3px solid #17a2b8;
}

h3.feature-text-h3 {
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #212734;
    position: relative;
    font-size: 40px;
    font-family: Raleway;
    margin-bottom: 1.2em;
}

h5.feature-title {
    margin-bottom: 15px;
    line-height: 30px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 30px;
}



/* testimonial section changes goes here */

h3.testimonial-text {
    padding: 2em;
    text-align: justify;
    font-style: italic;
    font-family: Noto Sans JP;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-top: 2em;
    padding-right: 3em;
    opacity: .7;
}

h3.testimonial-text-h3 {
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #212734;
    position: relative;
    font-size: 40px;
    font-family: Raleway;
}

section.testimonial-section {
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
}

.carosal-card{
    width: 60% !important;
   /* max-width: 100%; */
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.125);
    margin-top: 3em;
    margin-bottom: 3em;
    height: 17em;
    max-height: 100%;
}

.carosal-card:active{
    border-color: transparent;
}


/* ===task area css changes goes here=== */


section.new-task-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 100vh; */
}

.create-task-form-area {
    margin-top: 9em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section.task-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

/*contact form css changes goes here */

.contact-area{
    padding-bottom: 3em;
}

.contact-header{
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #212734;
    font-size: 40px;
    font-family: Raleway;
    margin-top: 1em;
    margin-bottom: 1em;
}
button.conatct-btn {
    text-transform: none;
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: #691cff;
    border-radius: 10px;
    background-color: white;
    box-shadow: none;
    border: 2px solid#691cff;
}

.contact-btn-area {
    margin-top: 1.5em;
    text-align: right;
}


.control-input {
    margin-bottom: 22px;
}
/* cta buttoun and its  area changes goes here */

.cta-btn1 {
    text-align: center;
    border-radius: 5px;
    font-family: Raleway;
    margin-right: 0px;
    background: #691cff;
    padding: 11px 50px;
    font-weight: 400;
    min-width: 160px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;

}

section.cta-section{
    padding: 80px 0;
    background: #ebf3fd;
    margin-top: 1.5em;
}

.cta-btn-area {
    text-align: center;
}

h3.cta-text-h3{
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #212734;
    position: relative;
    font-size: 45px;
    font-family: Raleway;
    padding-bottom: .5em;
    max-width: 780px;
    margin: auto;
  
}

/* footer area changes goes here */


.footer {
    font-size: 14px;
    /* margin-top: 3.5em; */
}

.footer-logo > h3 {
    font-size: 30px;
    line-height: 1;
    font-family: Montserrat Alternates;
    color: #212734;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 9px;
}

.comman-footer {
    background: #ebf3fd;
    padding-bottom: 30px;
    padding-top: 70px;
}

.comman-footer .footer-logo {
    text-align: center;
}

.comman-footer .footer-links {
    max-width: 525px;
    margin: auto;
    text-align: center;
}

.comman-footer .footer-links .link {
    color: #495057;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-right: 20px;
}


/* ==============login page changes goes from here========== */
p.signuplink-route {
    font-size: 15px;
}
.signuplink-route-area {
    margin-top: 1em;
}
.signin-button{
    font-family: Raleway;
    margin-right: 0px;
    background: #691cff;
    padding: 11px -24px;
    font-weight: 400;
    min-width: 100px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
}

section.login-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.form-area{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 32px 40px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    box-sizing: border-box;
    color: rgb(94, 108, 132);
}

/* =====================all media quries goes from here====================== */


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 


}

@media (max-width: 575px) { 

    /* ====common css for multiple classes  goes here===== */

    h3.intro-h3, h3.feature-text-h3, h3.testimonial-text-h3, .contact-header{
        font-size: 30px;
    }

    /* navbar/header/banner/banner-logo sections  area changes goes here */
    .order-md-first.order-last.col-sm-6 {
        text-align: center;
    }

    .cta2-btn-area {
        margin-bottom: 1em;
    }

    /* ===intro section changes goes from here== */
    section.feature-section {
        padding: 40px 0;
    }

    section.sample-intro-area {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    p.para-intro{
        text-align: justify;
        font-size: 18px;
    }

   

    .feature-body-img {
        justify-content: center;
        padding-bottom: 2em;
    }

    img.feature-img {
        max-width: 45%;
    }

    h5.feature-title {
        text-align: center;
        font-size: 25px;
    }

    p.feature-para{
        text-align: justify;
        font-size: 18px;
    }
    

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 


 }

 @media (max-width: 767px) { 

    /* ===login / signup area changes goes here=== */

    .form-area{   
    width: 294px;
    padding: 30px 30px;
    }

    section.login-section{
        justify-content: space-around;
    /* height: 100vh; */
    margin-top: 4em;
    margin-bottom: 3em;
    }

    img.img-fluid.girl-code-img.bounce-in-top{
        display:none;
    }

    /* ===task area changes === */
    section.task-section{
        height:auto
    }
   
    /* navbar/header/banner/banner-logo sections  area changes goes here */
     
    .signout-btn-area {
        text-align: center;
    }

    .featured-section {
        display: none;
    }

    section.banner-section{
        height: auto;
        padding-top: 6em;

    }

    p.banner-p {
        font-size: 1em;
    }
    
    h1.banner-h1{
        font-size: 1.5em;
    }

    button.cta-btn2.btn.btn-primary{
        min-width: 9em;
    }

    /* ====testimonial css goes from here===== */

    .carosal-card{
        width: 85% !important;
        height: 15em;
    }

    section.testimonial-section{
        padding-top: 40px;
    }

    h3.testimonial-text{
        padding:1em;
        font-size: 20px;
        padding-top: 1em;
        padding-right: 1em;
    }

    /* =====cta button2 area changes goes from here==== */

    h3.cta-text-h3{
        font-size:30px;
    }

    section.cta-section{
        padding: 40px 0;
    }

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 


 }

 @media (max-width: 991px) { 

   /* navbar/header/banner/banner-logo sections  area changes goes here */
    .ml-auto.navbar-nav {
        padding-top: 2em;
    }

    .nav-link {
        font-size: 1.3em;
        all: revert;
        text-align: center;
        text-decoration: none;
    }


}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }